* { margin: 0; padding: 0; }

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 30px;
  background: rgba(255,255,255, 0.8);
}

.amatic {
  font-family: 'Amatic SC', 'Heveltica Neue', Arial, sans-serif;
}

.lato {
  font-family: 'Lato', Arial, sans-serif;
}

.header-menu__item {
  list-style: none;
  float: left;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 25px;
}

header a {
  text-decoration: none;
}

.active a, .header-menu__item:hover, .header__icon:hover ,.header-menu__item a:hover {
  color: #e68a8a !important;
}

.header__icon {
  color: #56566e;
  font-size: 15px;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
}

.header-burger {
  display: none;
}

.header__logo {
  display: flex;
  text-transform: uppercase;
  z-index: 3;
}

.home-text {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;
}

.header-arrow {
  display: flex;
  align-self: center;
  margin-bottom: 40px;
}

.fa__arrow {
  color: #ffffff;
  font-size: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  color: #8c8a8a;
}

.footer-copyright{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  background: #fbfbfb;
  font-size: 13px;
}

.footer-copyright__arrow i {
  margin-left: 4px;
  font-size: 15px;
}

.footer-copyright__arrow a {
  text-decoration: none;
  color: #595252;
}

.footer-basis {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.footer-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.footer-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  color: #514a4a;
}

.footer-about img {
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.footer-gallery img{
  height: 300px;
}

.footer__description {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.footer__list {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

