* { margin: 0; padding: 0; }

.home {
  display: flex;
  background: url(../img/lead.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 30px;
  background: rgba(255,255,255, 0.8);
}

.amatic {
  font-family: 'Amatic SC', 'Heveltica Neue', Arial, sans-serif;
}

.header-menu__item {
  list-style: none;
  float: left;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 25px;
}

.active, .header-menu__item:hover, .header__icon:hover {
  color: #e68a8a;
}

.header__icon {
  color: #56566e;
  font-size: 15px;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
}

.header-burger {
  display: none;
}

.header__logo {
  display: flex;
  text-transform: uppercase;
  z-index: 3;
}

.home-text {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;
}

.header-arrow {
  display: flex;
  align-self: center;
  margin-bottom: 40px;
}

.fa__arrow {
  color: #ffffff;
  font-size: 40px;
}

.home-text__title {
  display: flex;
  font-size: 190px;
  margin: 0px;
  border-top: 2px solid #ffffff;
  line-height: 126px;
}

.home-text__subtitle {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  font-size: 55px;
  margin-top: 19px;
  margin-bottom: 0px;
  line-height: 45px;
}

.moments {
  padding: 20px;
}

.moments-title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: #808080;
  margin: 60px;
}

.moments-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.box-item {
  display: flex;
  flex-direction: column;
  width: 32%;
  max-height: 45%;
}

.box-item__img {
  border-radius: 50%;
  height: 80%;
  margin-bottom: 30px;
}

.box-item__title, .box-item__description {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #595252;
}

.box-item__description {
  font-size: 20px;
}

.post-container {
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.post-item {
  margin-bottom: 40px;
  width: 60%;
}

.post-item__preview img {
  height: 610px;
  width: 100%;
}

.post-content {
  display: flex;
  background: #ffffff;
  justify-content: center;
  flex-direction: column;
  padding: 40px 80px;
}

.post-content__title {
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}

.post-content__description {
  text-align: center;
  font-size: 1.5rem;
}

.post-content__description i{
  color: #e68a8a;
  font-size: 5px;
  vertical-align: middle;
}

.lato {
  font-family: 'Lato', Arial, sans-serif;
}

.post-content__text {
  font-size: 16px;
  color: rgb(115, 113, 113);
  margin-top: 20px;
  line-height: 24px;
}

.post-content blockquote {
  font-size: 40px;
  border-left: 1px red solid;
  margin-top: 50px;
  line-height: 50px;
  padding-left: 30px;
}

.post-content button {
  display: block;
  align-self: center;
  color: #e68a8a;
  border: 1px #e68a8a solid;
  border-radius: 200px;
  font-size: 22px;
  background: #ffffff;
  width: fit-content;
  margin: 30px;
  padding: 10px 20px;
}

.post-content button:hover {
  color: #ffffff;
  background: #e68a8a;
}

.post-content__tag {
  text-align: center;
  font-size: 22px;
}

#post-content__btn {
  font-size: 30px;
  padding: 5px 70px;
  border: 2px #e68a8a solid;
  font-weight: 700;
}

.post-iframe {
  height: 610px;
  width: 100%;
  margin-bottom: -51px;
}

footer {
  display: flex;
  flex-direction: column;
  color: #8c8a8a;
}

.footer-copyright{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  background: #fbfbfb;
  font-size: 13px;
}

.footer-copyright__arrow i {
  margin-left: 4px;
  font-size: 15px;
}

.footer-copyright__arrow a {
  text-decoration: none;
  color: #595252;
}

.footer-basis {
  display: flex;
  justify-content: space-between;
  padding: 50px 100px;
}

.footer-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.footer-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  color: #514a4a;
}

.footer-about img {
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.footer-gallery img{
  height: 300px;
}

.footer__description {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

.footer__list {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

@media (max-width: 1200px) {

  .post-item {
    width: 70%;
  }

  .moments-img {
    flex-shrink: 0;
  }
  .box-item__img {
    height: 75%;
  }
}

@media (max-width: 992px) {
  .home {
    height: 100vh;
  }

  .post-item {
    width: 90%;
  }

  .moments-img {
    flex-shrink: 0;
  }

  .box-item__img {
    height: 65%;
  }

  .header-burger {
    display: block;
    cursor: pointer;
    color: #56566e;
    font-size: 30px;
  }

  .header-menu {
    display: none;
  }
}

@media (max-width: 769px) {
  .home {
    height: 500px;
  }
  .post-item {
    width: 100%;
  }

  .box-item__img {
    height: 65%;
  }

  .moments-img {
    flex-shrink: 0;
  }

  .header-burger {
    display: block;
    cursor: pointer;
    color: #56566e;
    font-size: 30px;
  }

  .header-menu {
    display: none;
  }

  .footer-basis {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
  }

  .footer-about {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 416px) {
  .home {
    height: 300px;
    background-size: 100% 100%;
  }

  header {
    padding: 5px 20px;
  }

  .home-text {
    margin-right: 30px;
  }

  .home-text__title {
    font-size: 91px;
    line-height: 56px;
  }

  .home-text__subtitle {
    font-size: 26px;
    line-height: 30px;
  }

  .header-arrow {
    margin: 0px;
  }

  .moments {
    padding: 6px;
  }

  .moments-title {
    font-size: 35px;
    margin: 15px;
  }

  .box-item{
    margin-bottom: 20px;
  }

  .box-item__img {
    height: 65%;
  }

  .box-item__description {
    font-size: 15px;
  }

  .box-item__title {
    font-size: 25px;
  }

  .post-item__preview img {
    height: 310px;
  }

  .post-container {
    padding-top: 50px;
  }

  .post-content {
    padding: 40px;
  }

  .post-content__title {
    font-size: 38px;
  }

  .post-content__description {
    font-size: 1.1em;
  }

  .post-content__text {
    font-size: 11px;
    line-height: 16px;
  }

  .post-content blockquote {
    font-size: 18px;
    line-height: 31px;
  }

  .post-content button {
    margin:15px;
  }

  .post-content__tag {
    font-size: 18px;
  }

  #post-content__btn {
    font-size: 22px;
  }

  .post-iframe {
    height: 210px;
    margin-bottom: -30px;
  }

  .footer-copyright {
    padding: 14px;
  }
}

