* { margin: 0; padding: 0; }

.home {
  display: flex;
  background: url(../img/lead.jpg);
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  font-size: 30px;
  background: rgba(255,255,255, 0.8);
}

.amatic {
  font-family: 'Amatic SC', 'Heveltica Neue', Arial, sans-serif;
}

.header-menu__item {
  list-style: none;
  float: left;
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 25px;
}

.active, .header-menu__item:hover, .header__icon:hover {
  color: #e68a8a;
}

.header__icon {
  color: #56566e;
  font-size: 15px;
}

.header-menu {
  display: flex;
  justify-content: flex-end;
}

.header__logo {
  display: flex;
  text-transform: uppercase;
}

.home-text {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px;
}

.header-arrow {
  display: flex;
  align-self: center;
  margin-bottom: 40px;
}

.fa__arrow {
  color: #ffffff;
  font-size: 40px;
}

.home-text__title {
  display: flex;
  font-size: 190px;
  margin: 0px;
  border-top: 2px solid #ffffff;
  line-height: 126px;
}

.home-text__subtitle {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  font-size: 55px;
  margin-top: 19px;
  margin-bottom: 0px;
  line-height: 45px;
}

.moments {
  padding: 20px;
}

.moments-title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: #808080;
  margin: 60px;
}

.moments-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.box-item {
  display: flex;
  flex-direction: column;
  width: 32%;
  max-height: 45%;
}

.box-item__img {
  border-radius: 50%;
  height: 80%;
  margin-bottom: 30px;
}

.box-item__title, .box-item__description {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #595252;
}

.box-item__description {
  font-size: 20px;
}

.post-container {
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.post-item {
  margin-bottom: 40px;
  width: 60%;
}

.post-item__preview img {
  height: 610px;
  width: 100%;
}

.post-content {
  display: flex;
  background: #ffffff;
  justify-content: center;
  flex-direction: column;
  padding: 40px 80px;
}

.post-content__title {
  text-align: center;
  font-size: 52px;
  font-weight: 700;
}

.post-content__description {
  text-align: center;
  font-size: 1.5rem;
}

.post-content__description i{
  color: #e68a8a;
  font-size: 5px;
  vertical-align: middle;
}

.lato {
  font-family: 'Lato', Arial, sans-serif;
}

.post-content__text {
  font-size: 16px;
  color: rgb(115, 113, 113);
  margin-top: 20px;
  line-height: 24px;
}

.post-content blockquote {
  font-size: 35px;
  border-left: 1px red solid;
  margin-top: 50px;
  line-height: 50px;
  padding-left: 30px;
}

.post-content button {
  display: block;
  align-self: center;
  color: #e68a8a;
  border: 1px #e68a8a solid;
  border-radius: 200px;
  font-size: 22px;
  background: #ffffff;
  width: fit-content;
  margin: 30px;
  padding: 10px 20px;
}

.post-content__tag {
  text-align: center;
  font-size: 22px;
}

#post-content__btn {
  font-size: 30px;
  padding: 5px 70px;
  border: 2px #e68a8a solid;
  font-weight: 700;
}
